terraform {
  backend "s3" {
    bucket         = "replace-me-terraform-state"
    key            = "prod/terraform.tfstate"
    region         = "eu-west-3"
    dynamodb_table = "replace-me-terraform-locks"
    encrypt        = true
  }
}